<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "实验用APP", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "主页", root_path %></li>
          <li><%= link_to "帮助", help_path %></li>
          <li><%= link_to "登录", '#' %></li>
        </ul>
      </nav>
    </div>
  </header>